<div id="bg">
    <div id="blackLayer"></div>
    <img src="assets/pic-1.jpg" />
</div>
<div id="main">
    <div id="image">
        <img src="assets/pic-1.jpg" />
    </div>
    <div id="player">
        <div id="songTitle">Title</div>
        <div id="buttons">
            <button id="pre" (click)="pre()"><img src="assets/pre.png" height="90%" width="90%"></button>
            <button id="play" (click)="playOrPauseSong()"><img src="assets/pause.jpg" height="90%" width="90%"></button>
            <button id="next" (click)="next()"><img src="assets/next.jpg" height="90%" width="90%"></button>
        </div>

        <div id="seek-bar">
            <div id="fill" ></div>
            <div id="handle"></div>
        </div>
    </div>
</div>
<!-- <audio src="assets/aaa.mp3" id="audioPlayer">aa</audio> -->
<!-- <li><a href="assets/aaa.mp3">saSá</a></li>
<button (click)=audioPlayer() >haha</button> -->




