<div class="container">
    <div class="row">
        <div class="col" style="color:black">
            <div class="content">
                <div class="artists">
                    <h3> List Singer</h3>
                    <button type="button" class="btn btn-primary btn-artists" [routerLink]="['/singer-add']">Create new
                        Artist</button>
                </div>
                <div class="top" *ngFor="let item of artists">
                    <img src="{{ item.avatar_artist }}" alt="{{ item.name_artist }}">
                    <a [routerLink]="['/melon.mp3.vn/artist',item.id, item.name_artist]">
                        <h6>{{ item.name_artist }}</h6>
                    </a>
                    <button type="button" class="btn btn-primary btn-comment" [routerLink]="['/melon.mp3.vn/artist', item.id, item.name_artist, 'comment']">Comment</button>
                </div>
                <div class="top-add">
                    <a class="a-add" [routerLink]="['/singer-add']">+</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content">
                <div class="playlist">
                    <h3>List Playlist</h3>
                    <button type="button" class="btn btn-primary btn-playlist" [routerLink]="['/playlist-add']">Create
                        new playlist</button>
                </div>
                <div class="top">
                    <ul>

                        <li class="cursor wrapped2" *ngFor="let playlist of playlists"
                            (click)="editPlaylist(playlist.id)" routerLinkActive="router-link-active">

                            <p>Name Playlist: {{playlist.name}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content" style="color: black">
                <div>
                    <h3>List Song Upload</h3>
                    <button type="button" class="btn btn-primary btn-playlist" [routerLink]="['/song-upload']">Upload
                        Song
                    </button>
                    <div class="top">
                        <ol>
                            <li class="cursor wrapped2" *ngFor="let item of songs" (click)="editSong(item.id) " routerLinkActive="router-link-active">
                                <p>Name Song: {{item.name}} {{item.id}}</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>