<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
        <img src="/assets/logo1.jpg" style="width:20px;height:20px" [routerLink]="['']">
    </div>
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">PLAYLISTS</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/playlist-views']" routerLinkActive="router-link-active">TOP VIEW</a>
                    <a class="dropdown-item" [routerLink]="['/playlist-like']">TOP LIKE</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">SONG</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/song-views']" routerLinkActive="router-link-active">TOP VIEW</a>
                    <a class="dropdown-item" [routerLink]="['/song-like']">TOP LIKE</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" role="button" [routerLink]="['/singer-list']" aria-expanded="false">Singer</a>
            </li>


            <li class="nav-link" *ngIf="!feature.isLogin() && !feature.islogin">
                <app-login></app-login>
            </li>
            <li *ngIf="!feature.isLogin() && !feature.islogin" class="nav-link">
                <span [routerLink]="['/register']">Register</span>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="feature.isLogin() || feature.islogin">
            {{myuser}}
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/my-profile']" routerLinkActive="router-link-active">Profile</a>
                    <a class="dropdown-item" [routerLink]="['/my-contribution']">My Contribution</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="feature.isLogin() || feature.islogin">
              ADD
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/song-upload']" routerLinkActive="router-link-active">ADD-SONG</a>
                    <a class="dropdown-item" [routerLink]="['/playlist-add']">ADD-PLAYLIST</a>
                    <a class="dropdown-item" [routerLink]="['/singer-add']">ADD-SINGER</a>

                </div>
            </li>


        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>