<!-- <div class="container control" > -->
    <div class="container col-xs-5 col-sm-5 col-md-5 col-lg-5 control">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <br><br>
                <h3 class="panel-title control2">ADD PLAYLIST FORM </h3>
                <br>
            </div>
            <div class="list">
                <div class="panel-body">
                    <form [formGroup]="newPlaylistForm" (submit)="createPlaylist()">
                        <div class="form-group">
                            <label for="name">Name Playlist</label>
                            <input formControlName="name" type="text" class="form-control" name="name"
                                placeholder="Name Playlist">
                        </div>
                        <div class="form-group">
                            <label for="des">Description</label>
                            <input formControlName="des" type="text" class="form-control" name="des"
                                placeholder="Description">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->