.control{
    /* text-align: center; */
    align-content: center;
}

.control2{
    text-align: center;
    align-content: center;
}

.control3{
    /* text-align: center; */
    align-content: center;
}

body {
    text-align: center;
}


.wraper{
    font-weight: bolder;
    border-radius: 50px 50px;
    background: aliceblue;
    margin: 20px auto;
}