<div class="container">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <br><br>
                <h3 class="panel-title">Edit PlayList Form </h3>
                <br>
            </div>
            <div class="list">
                <div class="panel-body">
                    <form [formGroup]="infoPlaylist" (submit)="editPlaylist()">
                        <div class="form-group">
                            <label for="name">Name Playlist</label>
                            <input formControlName="name" type="text" class="form-control" name="name"
                                placeholder="Name Playlist">
                        </div>
                        <div class="form-group">
                            <label for="username_create">User Create</label>
                            <input formControlName="username_create" type="text" class="form-control"
                                name="username_create" placeholder="Username Create">
                        </div>
                        <div class="form-group">
                            <label for="des">Description</label>
                            <input formControlName="des" type="text" class="form-control" name="des"
                                placeholder="Description">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button class="btn btn-primary" type="button" (click)="deletePlaylist()">Delete
                            Playlist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<hr>
<br><br>
<div class="container">
    <h2>List songs in this Playlist</h2>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>