<div class="container">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <br><br>
                <h3 class="panel-title">EDIT PLAYLIST FORM </h3>
                <br>
            </div>
            <div class="list">
                <div class="panel-body">
                    <form [formGroup]="infoPlaylist" (submit)="editPlaylist()">
                        <div class="form-group">
                            <label for="name">Name Playlist</label>
                            <input formControlName="name" type="text" class="form-control" name="name"
                                placeholder="Name Playlist">
                        </div>
                        <div class="form-group">
                            <label for="des">Description</label>
                            <input formControlName="des" type="text" class="form-control" name="des"
                                placeholder="Description">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button class="btn btn-primary" type="button" (click)="deletePlaylist()">Delete
                            Playlist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <br>
    <h3 class="wrapped">LIST SONGS IN THIS PLAYLIST</h3>
    <br>
    <div class="row ">
        <div *ngFor="let song of songsOfPlaylist"
            class="col-lg-3 col-md-3 col-sm-3 tag">
            <div class="text-center thumb justify-content-center">
                <img src={{song.link_img_song}} class="rounded-circle">
                <div class="text">
                    <h2 class="edittext" [routerLink]="['/song-listening']" routerLinkActive="router-link-active" >LISTEN</h2>
                    <h3>{{song.name}}</h3>
                </div>
                <button class="btn btn-primary" type="button" (click)=deleteSongInPlaylist(song.id)>Delete Song</button>
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-primary wrapped" type="button" [routerLink]="['/playlist-addsong']"
        routerLinkActive="router-link-active">Add Song</button>
</div>

<!-- <hr>
<app-playlist-add-song></app-playlist-add-song> -->