<div class="row tag-playlist">
    <img class="col-3 tag-thumb"
        src="https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500">

    <div class="col-9">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <app-song-cell-i-p class="tag-song"
                img="assets\Color-palette-209-sunset.jpg"
                name="Perfect" singer="Ed"></app-song-cell-i-p>

            

        </div>
    </div>
</div>