/* img{
    height: 80px;
    width: 100%;   
} */
.thumb{
    height: 50px; 
}

/* table{
    height: 80px;
} */
td {
width: 100px;
border: 1px solid silver;
}
    
table, tr, td {
    
    padding: 0;
    margin: 0;
}
