<div class="text-center thumb justify-content-left">
    <!-- <img src={{img}} class="rounded-circle" alt="Cinque Terre">
        <p>{{name}}</p>
        <p>{{singer}}</p> -->

    <!-- <img src={{img}} class="rounded-circle">
        <div class="text">
            <h3>{{name}}</h3>
            <h4>{{singer}}</h4>
        </div> -->
    
    <!-- <div class="text">
        <h3>haha</h3>
        <h4>hihi</h4>
    </div> -->

    <table class="table">
              <tr class="row text-left align-middle">
                <td class="col-3"><img class="thumb"
                    src={{img}}></td>
                <td class="col-5" >{{name}}</td>
                <td class="col-2">{{author}}</td>
                <td class="col-2">{{singer}}</td>
              </tr>
          </table>
</div>