<div class="justify-content-md-center">
    <div class="col-md-6 offset-md-3 wraper">

        <h1 class="text-center">Upload-Song</h1>

        <form [formGroup]="upsongForm" (submit)="createForm()">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" formControlName="name">
            </div>
            <div class="form-group">
                <label>Author</label>
                <input class="form-control" type="text" formControlName="author">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" formControlName="des">
            </div>
            <div class="form-group">
                <label>File-Song (.mp3)</label>
                <br>
                <input type="file" accept=".mp3" formControlName="file_song" (change)="onSelectSong($event)">
            </div>
            <div class="form-group">
                <label>Img (.jpg)</label>
                <br>
                <input type="file" accept=".jpg,.png" formControlName="img_song" (change)="onSelectImg($event)">
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary center-block" style="width: 200px; margin: 20px">UPLOAD</button>
            </div>
        </form>
    </div>
</div>