<div class="container">
    New <app-playlist-cell [routerLink]="['/playlist-listening']"></app-playlist-cell>
    New <app-playlist-cell [routerLink]="['/playlist-listening']"></app-playlist-cell>
    New <app-song-cell [routerLink]="['/song-listening']"></app-song-cell>
    New <app-song-cell [routerLink]="['/song-listening']"></app-song-cell>
    New <app-song-cell [routerLink]="['/song-listening']"></app-song-cell>
    New <app-song-cell [routerLink]="['/song-listening']"></app-song-cell>
    New <app-song-cell [routerLink]="['/song-listening']"></app-song-cell>
    New <app-song-cell [routerLink]="['/song-listening']"></app-song-cell>
    <div class="container">
            <p>Others:</p>
            <i class="fas fa-cloud"></i>
            <i class="fas fa-coffee"></i>
            <i class="fas fa-car"></i>
            <i class="fas fa-file"></i>
            <i class="fas fa-bars"></i>
          </div>
</div>
