.songCreated{
    width: 25%;
    float: left;
}

.content2{
    clear: both;
}

.playlistCreated{
    width: 25%;
    float: left;
}


.content {
    margin: 0;
    float: left;
    width: 100%;
    height: auto;
}



.top {
    margin: 0;
    float: left;
    width: 25%;
    height: auto;
}

h3 {
    color: #5b97dbee;
    padding: 10px;
}

h4 {
    color: #d882b7ee;
}