.songCreated{
    width: 20%;
    float: left;
}

.content2{
    clear: both;
}

.playlistCreated{
    width: 20%;
    float: left;
}


.content {
    /* margin: 0; */
    /* float: left; */
    width: 100%;
    /* height: auto; */
}



.top {
    margin: 0;
    float: left;
    width: 20%;
    height: auto;
}

h3 {
    color: #5b97dbee;
    padding: 10px;
}

h4 {
    color: #d882b7ee;
}

.d-block {
    width: 80%;
    height: 400px;
    
}
.container{
    /* background-image: url('/assets/index.jpg'); */
    background-color: #EA967B; 
    /* min-height: 700px; */
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    width: 100%;
    height: 300px;
}