<div class="justify-content-md-center">
    <div class="col-md-6 offset-md-3 wraper">

        <h6 class="text-center">Forgot Password</h6>

        <form [formGroup]="searchForm" (submit)="findOldEmail()">

            <div class="form-group">
                <label>Please enter your email address to search for your account.</label>
                <input class="form-control" type="text" placeholder="Please enter your email address." formControlName="email">
            </div>
            <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2 offset-md-5 " role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary " (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
